<a href="https://colab.research.google.com/github/HSE-LAMBDA/MLDM-2022/blob/master/03-linear-classification/Classification_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Москвичева Полина, мИИПИ20-2022

## Task 1 (2 points + 1 bonus point + 1 super-bonus point)

(Titanic data again)

Build a model with `sklearn`'s `LogisticRegression` to get the accuracy of at least 0.80 (0.82 for the bonus point, 0.85 for the super-bonus point) on the test set.

Some (optional) suggestions:
- Add new features (e.g. missing value indicator columns)
- Fill missing values
- Encode categorical features (e.g. one-hot encoding)
- Scale the features (e.g. with standard or robust scaler)
- Think of other ways of preprocessing the features (e.g. `Fare` $\to$ `log(Fare)`)
- Try adding polynomial features

In [ ]:
!wget https://raw.githubusercontent.com/HSE-LAMBDA/MLDM-2022/main/01-intro/train.csv

--2022-10-16 16:47:52--  https://raw.githubusercontent.com/HSE-LAMBDA/MLDM-2022/main/01-intro/train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘train.csv’

train.csv           100%[===================>]  58.89K  --.-KB/s    in 0.01s

2022-10-16 16:47:52 (4.44 MB/s) - ‘train.csv’ saved [60302/60302]

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv("train.csv", index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data.shape
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### About the data
Here's some of the columns
* Name - a string with person's full name
* Survived - 1 if a person survived the shipwreck, 0 otherwise.
* Pclass - passenger class. Pclass == 3 is cheap'n'cheerful, Pclass == 1 is for moneybags.
* Sex - a person's gender
* Age - age in years, if available
* SibSp - number of siblings on a ship
* Parch - number of parents on a ship
* Fare - ticket cost
* Embarked - port where the passenger embarked
 * C = Cherbourg; Q = Queenstown; S = Southampton

In [ ]:
# check NaNs
print(data[('Age')].isnull().values.any())
print(data[('Survived')].isnull().values.any())
print(data[('Pclass')].isnull().values.any())
print(data[('Sex')].isnull().values.any())
print(data[('SibSp')].isnull().values.any())
print(data[('Parch')].isnull().values.any())
print(data[('Fare')].isnull().values.any())
print(data[('Embarked')].isnull().values.any())


print(data[data.Fare == 0])

True
False
False
False
False
False
False
True
             Survived  Pclass                              Name   Sex   Age  \
PassengerId
180                 0       3               Leonard, Mr. Lionel  male  36.0
264                 0       1             Harrison, Mr. William  male  40.0
272                 1       3      Tornquist, Mr. William Henry  male  25.0
278                 0       2       Parkes, Mr. Francis "Frank"  male   NaN
303                 0       3   Johnson, Mr. William Cahoone Jr  male  19.0
414                 0       2    Cunningham, Mr. Alfred Fleming  male   NaN
467                 0       2             Campbell, Mr. William  male   NaN
482                 0       2  Frost, Mr. Anthony Wood "Archie"  male   NaN
598                 0       3               Johnson, Mr. Alfred  male  49.0
634                 0       1     Parr, Mr. William Henry Marsh  male   NaN
675                 0       2        Watson, Mr. Ennis Hastings  male   NaN
733                 0       2              Knight, Mr. Robert J  male   NaN
807                 0       1            Andrews, Mr. Thomas Jr  male  39.0
816                 0       1                  Fry, Mr. Richard  male   NaN
823                 0       1   Reuchlin, Jonkheer. John George  male  38.0

             SibSp  Parch  Ticket  Fare Cabin Embarked
PassengerId
180              0      0    LINE   0.0   NaN        S
264              0      0  112059   0.0   B94        S
272              0      0    LINE   0.0   NaN        S
278              0      0  239853   0.0   NaN        S
303              0      0    LINE   0.0   NaN        S
414              0      0  239853   0.0   NaN        S
467              0      0  239853   0.0   NaN        S
482              0      0  239854   0.0   NaN        S
598              0      0    LINE   0.0   NaN        S
634              0      0  112052   0.0   NaN        S
675              0      0  239856   0.0   NaN        S
733              0      0  239855   0.0   NaN        S
807              0      0  112050   0.0   A36        S
816              0      0  112058   0.0  B102        S
823              0      0   19972   0.0   NaN        S

In [ ]:
from numpy import NaN
data['Age'] = data['Age'].fillna(value=data['Age'].mean())
#since we can't recover broken embarked type let's drop lines with nan here
data = data[data['Embarked'].notna()]
print(data[('Embarked')].isnull().values.any())

False

In [ ]:
# encoded_embarked = pd.get_dummies(data['Embarked'])
# data = data.join(encoded_embarked).drop('Embarked', axis=1)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler, RobustScaler, PolynomialFeatures, OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

def feature_selection_and_preprocessing(dataset):
  # <YOUR CODE>
  # E.g.:
  features = dataset[["Fare", "SibSp", "Parch", 'Pclass', 'Sex']].copy()
  features["Age"] = dataset.Age.fillna(dataset.Age.median())

  features['Embarked'] = dataset.Embarked.fillna('unknown')

  return features

model = make_pipeline(
    # <YOUR CODE>
    # E.g.
    make_column_transformer(
        (OneHotEncoder(sparse=False), ['Embarked', 'Sex']),
        (StandardScaler(), ['Age','Fare']),
        # (PolynomialFeatures(), ['Age',"Fare"]),
        remainder='passthrough'
    ),
    LogisticRegression()
)


# Validation code (do not touch)
data = pd.read_csv("train.csv", index_col='PassengerId')
data_train, data_test = train_test_split(data, test_size=200, random_state=42)

model.fit(
    feature_selection_and_preprocessing(
        data_train.drop('Survived', axis=1)
    ),
    data_train['Survived']
)

train_predictions = model.predict(
    feature_selection_and_preprocessing(
        data_train.drop('Survived', axis=1)
    )
)

test_predictions = model.predict(
    feature_selection_and_preprocessing(
        data_test.drop('Survived', axis=1)
    )
)

print("Train accuracy:", accuracy_score(
    data_train['Survived'],
    train_predictions
))
print("Test accuracy:", accuracy_score(
    data_test['Survived'],
    test_predictions
))

Train accuracy: 0.7959479015918958
Test accuracy: 0.815